/* registerSchool css settings*/
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #cfa50e;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.form-label {
    font-family: Lato, sans-serif;
    font-size: large;
}

#register-button {
    margin-top: 10px;
    width: 100%;
    height: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px;
    background-color: #242732;
    color:white;
    height:200px;
}
p {
    font-family: Lato, sans-serif;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.link:hover {
    color: black;
}

#sign-out {
    position: absolute;
    right: 30px;
    top: 30px;
}