.logo {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cfa50e;

}

.form {
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: 40%;
    margin-bottom: 10px;
    
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px;
    background-color: #242732;
    color:white;
    height:200px;
}

#sign-out {
    position: absolute;
    right: 30px;
    top: 30px;
}
