body {
    background-image: url("https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
}

.schoolHELP-logo {
    height: 150px;
    width: 150px;
}

/*CSS for SchoolHELP login page*/
.login-form {
    width: 40rem;
}

/*CSS for volunteer registration page*/
.volunteer-form {
    width: 40rem;
    margin-top: 20px;
    border: solid 2px #02198B;
    padding: 25px 55px;
    border-radius: 30px;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
    margin-bottom: 30px;
}

.successMsg {
    color:chartreuse;
    font-weight: bold;
}

.errorMsg {
    color: red;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
}
.facebook {
    height: 50px;
    border-radius: 50%;
}
.instagram {
    height: 70px;
    border-radius: 50%;
}
.twitter {
    height: 50px;
    border-radius: 50%;
}
.footer {
    background-color: #242732;
    height: 220px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -550px;
    display: flex;
    flex-direction: column;
}

.facebook .instagram .twitter:hover {
    flood-opacity: 10px;
}

/*CSS for schoolAdmin Submitting Request page*/
.tutorial--container{
    display: none;
} 

.resource--container{
    display: none;
}

#tutorial-label:hover {
    font-weight: 800;
}

#resource-label:hover {
    font-weight: 800;
}


    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 80%;
    }
    }

    @media (max-width: 500px){
        .volunteer-form {
            border: none;
            box-shadow: none;
            padding: 25px 30px;
            border-radius: none;
        }
    }

