.schoolHELP-logo {
    height: 150px;
    width: 150px;
}

/*CSS for SchoolHELP login page*/
.login-form {
    width: 40rem;
}

/*CSS for volunteer registration page*/
.volunteer-form {
    width: 40rem;
    margin-top: 20px;
    border: solid 2px #02198B;
    padding: 25px 55px;
    border-radius: 30px;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
    margin-bottom: 30px;
}

.errorMsg {
    color: red;
}
 
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 80%;
    }
    }

    @media (max-width: 500px){
        .volunteer-form {
            border: none;
            box-shadow: none;
            padding: 25px 30px;
            border-radius: none;
        }

        
    }

